
<div class="container">
    <a class="navbar-brand" href="https://www.tdstek.com/" target="_blank" rel="noopener">
      <img alt="TDS" class="logo" src="../../assets/images/TRIDENT-LOGO-V2-01.png" width="216px" height="56px">
    </a>
  <div class="navbar-header" >
      
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
    </button>
    <a href="#home" class="navbar-brand smoothScroll">Trident Digital Solutions</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#home" class="smoothScroll">HOME</a></li>
      <li><a href="#service" class="smoothScroll">SERVICE</a></li>
      <li><a href="#about" class="smoothScroll">ABOUT</a></li>
      <li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li>				
      <li><a href="#contact" class="smoothScroll">CONTACT</a></li>
    </ul>
  </div>
</div>
